<appSettings>
  <add key="server_port" value="8001" />
  <add key="server_encryption_key" value="12345678" />
  <add key="database_host" value="localhost" />
  <add key="database_id" value="root" />
  <add key="database_password" value="" />
  <add key="database_password_encryption_key" value="RANDOMXMEX123456X123456X" />
  <add key="database_password_encryption_iv" value="RANDOMXMEX123456" />
  <add key="avatars_enabled" value="false" />
  <add key="avatars_address" value="" />
  <add key="avatars_address_upload" value="" />
  <add key="broadcast_interval" value="30" />
</appSettings>